@page
@model Server.Pages.Clients.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Client</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Client.SerialNr" class="control-label"></label>
                <input asp-for="Client.SerialNr" class="form-control" />
                <span asp-validation-for="Client.SerialNr" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Client.Status" class="control-label"></label>
                <select asp-for="Client.Status" class="form-control">
                    <option value="@Models.ClientStatus.Registered">Registered</option>
                    <option value="@Models.ClientStatus.Activated">Activated</option>
                    <option value="@Models.ClientStatus.Banned">Banned</option>
                </select>
                <span asp-validation-for="Client.Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
